Hi <%= recruiter.first_name %>,

You recently requested a new password for ACM@UIUC. Your new credentials are:

Username: <%= recruiter.email %>
Password: <%= password %>

To login, visit http://acm.illinois.edu/sponsors/login.

Thank you,
ACM@UIUC Corporate Committee
